<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>
  <head>
    <title>ProjectJokes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
  <% flash.each do |key, value| %>
    <div class="flash_body">
      <div class="flash_wrapper">
        <div class="flash">
          <%= value %>
        </div>
        <div class="body_flash_button">
          <div class="flash_button">
            <h4>Cerrar</h4>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</html>
<script>
  $(document).ready(function() {
      $('.flash_body').on('click', function() {
          $('.flash_body').hide()
      })
  })
</script>
